@model WebDEV.Areas.admincp.Models.product_picture

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admincp/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>product_picture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_product)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_product)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.filename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.filename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
