@model WebDEV.Areas.admincp.Models.inbox
@{

    Layout = "~/Views/Shared/_TemplateDR.cshtml";
}

<section>
    <div id="head_bottom">
        <div id="head_slide">
            <style>

                #slide_home img {
                    width: 100%;
                }
            </style>
            <div class="box_slider">
                <ul id="slide_home" class="block-slide">
                    @Html.Raw(ViewBag.Slider)
                </ul>
            </div>
            <script>
                jQuery(function () {
                    jQuery('#slide_home').bxSlider({ pager: false, auto: true });
                })
            </script>
        </div>
    </div><div id="breadcrumb">
        <div class="wrapper-center">
            <ul>
                <li>
                    <i>/</i>
                    <a href="/" title="Trang chủ">Trang chủ</a>
                </li>
                <li> <i>/</i>  <a href="../contact" title="Liên hệ">Liên hệ</a> </li>
            </ul>
        </div>
    </div>
    <script>
                                        //jQuery(function(){jQuery("#breadcrumb").sticky({topSpacing:42});});
    </script>
</section>
<section id="section_middle">
    <div id="contact" class="">
        <a href="#"><h1 class="block-defult-title">CÔNG TY CỔ PHẦN Phân Bón Quốc Tế</h1></a>
        <div id="contact_top"><div class="contact-top-in"></div></div><div class="wrapper-center dpfl">

            <div id="contact_left" class="o-1-1 o-mi-md-1-2">
                <div class="contact-left-in">
                    <div class="block-defult">
                        <div class="block-defult-content">
                            <div class="block-info-contact">
                                <div class="box-info box-address"><i class="fa fa-map-marker"></i><span>Địa chỉ: Lô B118, Đường số 5, KCN Thái Hòa, Đức Lập Hạ, Đức Hòa, Long An</span></div><div class="box-info box-hotline"><i class="fa fa-mobile"></i><span>Hotline: 0932 629 369</span></div><div class="box-info box-email"><i class="fa fa-envelope"></i><span>Email: phanbonquocte@gmail.com</span></div>
                                <div class="box-info box-phone"><i class="fa fa-phone"></i><span>Điện Thoại: (072) 381 9812 - Fax : (072) 381 9813</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact-right-in">
                    <div class="block-form-contact" style="padding:10px;">
                        @using (Html.BeginForm())
                        {
                            <div class="form-site-inputs">
                                <div class="form-site-full">
                                    <div class="part-input-site part-input-site-select ">
                                        <div class="box-label-site box-label-site-select">
                                            <label class="label-site label-site-select">Chủ đề</label>
                                        </div>
                                        <div class="box-input-site box-input-site-select">
                                            @Html.DropDownList("groupid", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.groupid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="part-input-site part-input-site-text ">
                                        <div class="box-label-site box-label-site-text">
                                            <label class="label-site label-site-text">Họ và tên</label>
                                        </div>
                                        <div class="box-input-site box-input-site-text">
                                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                        </div>
                                    </div><div class="part-input-site part-input-site-text ">
                                        <div class="box-label-site box-label-site-text"><label class="label-site label-site-text">Email</label></div>
                                        <div class="box-input-site box-input-site-text">
                                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="part-input-site part-input-site-text ">
                                        <div class="box-label-site box-label-site-text">
                                            <label class="label-site label-site-text">Điện thoại</label>
                                        </div>
                                        <div class="box-input-site box-input-site-text">
                                            @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="part-input-site part-input-site-textarea ">
                                        <div class="box-label-site box-label-site-textarea"><label class="label-site label-site-textarea">Nội dung</label></div>
                                        <div class="box-input-site box-input-site-textarea">
                                            @Html.EditorFor(model => model.message, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.message, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div><div class="form-site-button">
                                <button type="submit" class="btn btn-de">Gửi đi</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div id="contact_right" class="o-1-1 o-mi-md-1-2">
                <div class="contact-bottom-in">
                    <div class="block-html">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15670.274023262175!2d106.468684!3d10.920361!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2c7845c32785527e!2sFERTILIZER+CORPORATION+INTERNATIONAL!5e0!3m2!1sen!2s!4v1546618274620" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-center">
            <div id="contact_bottom">

            </div>
        </div>
    </div>
</section>

