@model WebDEV.Areas.admincp.Models.product
@{

    Layout = "~/Views/Shared/_RealPlaceDetails.cshtml";
}
<!-- .site-header -->
<div id="breadcrumb">
    <div class="container">
        <ul >
            <li>
                <a href="/" title="Trang chủ">Trang chủ</a>
            </li>
            <li>
                <a href="~/@Model.product_category.url" title="@Model.product_category.name"> <i class="fas fa-angle-right"></i> @Model.product_category.name</a>
            </li>
            <li class="active"><a href="~/@Model.url" title="@Model.name"> <i class="fas fa-angle-right"></i> @Model.name</a> </li>
        </ul>
        </div>
    </div>
<style>
    #breadcrumb {
        background: #ffe2e4;
    }

        #breadcrumb li {
            display: inline-block;
            list-style: none;
            padding: 10px;
        }

        #breadcrumb ul {
            margin-left: -50px;
        }

        #breadcrumb li a {
            color: #c62223;
            font-weight: bold;
            padding-top: 10px;
            display: block;
        }
</style>
        <!-- .page-head -->
        <div id="content-wrapper" class="site-content-wrapper site-pages">
            <div id="content" class="site-content layout-boxed">
                <div class="container">
                    <div class="container-property-single clearfix">
                        <div class="col-md-8 site-main-content property-single-content">
                            <main id="main" class="site-main">
                                <article class="hentry clearfix">
                                    <div class="single-property-slider">
                                        <ul id="image-gallery" class="list-unstyled">
                                            <li data-thumb="../Upload/images/products/@Model.images">
                                                <a class="swipebox" data-rel="gallery12" href="../Upload/images/products/@Model.images"><img src="~/Upload/images/products/@Model.images" alt="@Model.name"></a>
                                            </li>
                                            @Html.Raw(ViewBag.ListImage)

                                        </ul>
                                    </div>
                                    <div id="property-featured-image" class="only-for-print">
                                        <img src="~/Upload/images/products/@Model.images" alt="@Model.name">
                                    </div>
                                    <div class="entry-content clearfix">
                                        <h4 class="fancy-title">Mô tả</h4> 
                                        <div class="property-additional-details clearfix">
                                            @Html.Raw(Model.content1)
                                        </div>
                                    </div>
                                </article>
                                <section class="property-location-section clearfix">
                                    <h4 class="fancy-title">Bản đồ chỉ đường</h4>
                                    <div id="property-map">
                                        @Html.Raw(Model.content4)
                                    </div> 
                                </section>


                            </main>
                            <!-- .site-main -->
                        </div>
                        <!-- .site-main-content -->
                        <div class="col-md-4 zero-horizontal-padding">
                            <aside class="sidebar sidebar-property-detail">
                                <section class="agent-sidebar-widget clearfix">
                                    <div style="    background: #fff;  padding: 15px;">
                                        <h1 class="entry-title single-property-title">@Model.name</h1>
                                        <span class="single-property-price price">Giá: @Model.price</span>
                                        <span class="meta-item-label">Diện tích: </span>
                                        <span class="meta-item-value">@Model.content2<sub class="meta-item-unit">m2</sub></span>
                                        <div class="property-content">
                                            <p>@Model.desciption</p>
                                        </div>
                                        <span class="meta-item-label">Loại</span>
                                        <span class="meta-item-value">@Model.product_category.name</span>
                                    </div>

                                </section>
                                <section class="similar-properties meta-item-half clearfix">
                                    <div class="nav-and-title clearfix">
                                        <h3 class="title">Bất động sản cùng quận</h3>
                                        <div class="similar-properties-carousel-nav carousel-nav">
                                            <a class="carousel-prev-item prev">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="arrow-container" width="32" height="52" viewBox="0 0 32 52">
                                                    <g class="left-arrow" fill="#fff">
                                                        <path opacity=".5" d="M31.611 7.646l-6.787-7.057-24.435 25.406 6.787 7.057z" />
                                                        <path d="M.389 26.006l6.787-7.058 24.435 25.406-6.787 7.057z" />
                                                    </g>
                                                </svg>
                                            </a>
                                            <a class="carousel-next-item next">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="arrow-container" width="32" height="52" viewBox="0 0 32 52">
                                                    <g class="right-arrow" fill-rule="evenodd" clip-rule="evenodd" fill="#fff">
                                                        <path d="M.388 44.354l6.788 7.057 24.436-25.406-6.788-7.057-24.436 25.406z" />
                                                        <path opacity=".5" d="M31.612 25.994l-6.788 7.058-24.436-25.406 6.788-7.057 24.436 25.405z" />
                                                    </g>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="similar-properties-carousel">
                                        <div class="owl-carousel">
                                            @Html.Raw(ViewBag.ProductCategory)
                                        </div>
                                    </div>
                                </section>

                            </aside>
                            <!-- .sidebar -->
                        </div>
                        <!-- .site-sidebar-content -->
                    </div>
                    <!-- .container-property-single -->
                    <div style="text-align:left;margin-top: 20px;">
                        <h4 style="font-weight:bold;font-size:1.5em;margin-bottom:0px"> Có thể bạn quan tâm</h4>
                        <img src="/Content/line.jpg" style="max-width:100%;margin-bottom:0px">
                    </div>
                    <div class="bt-qt">
                       
                        @Html.Raw(ViewBag.ProductCategory)
                        <div style="clear:both">

                        </div>
                    </div>
                </div>
                <!-- .container -->
            </div>
            <!-- .site-content -->
        </div>
        <!-- .site-content-wrapper -->
<style>
    .bt-qt {
        background: #fff;
    }
    .bt-qt .hentry {
        width: 33%;
        float: left;
        padding: 25px;
    }
        .bt-qt .hentry h3.entry-title {
            padding-top: 10px;
            font-size: 16px;
            height: 40px;
        }
        .bt-qt .hentry h3.entry-title a {
            color: #c62223;
        }
        .bt-qt .hentry .price-and-status {
            border-top: 2px solid #c62223;
            border-bottom: 2px solid #c62223;
            text-align: center;
            color: #c62223;
            padding-top: 2px;
            padding-bottom: 2px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 10px
        }
    .bt-qt .hentry span.property-status-tag {
        display: none;
    }
        .bt-qt .hentry  .price-and-status span {
            vertical-align: middle;
            font-size: 1.5em;
        }
        .bt-qt .hentry i.meta-item-icon.icon-area {
            display: none;
        }
        .bt-qt .hentry .meta-inner-wrapper {
            display: flex;
            vertical-align: middle;
        }
            .bt-qt .hentry .meta-inner-wrapper span {
                line-height: 18px !important;
                font-size: 12px !important;
                margin-right:3px;
            }
</style>
