@model IEnumerable<WebDEV.Areas.admincp.Models.product>
@{

    Layout = "~/Views/Shared/_RealPlaceDetails.cshtml";
}

<!-- .site-header -->
@*<a href="~/@ViewBag.URL" title="@ViewBag.Name">@ViewBag.Name</a>*@
<div id="breadcrumb">
    <div class="container">
        <ul>
            <li>
                <a href="/" title="Trang chủ">Trang chủ</a>
            </li>
            <li>
                <i class="fas fa-angle-right"></i>
                <a href="~/@ViewBag.URL" title="Cho Thuê Kho">@ViewBag.Name</a>
            </li>
        </ul>
    </div>
</div>
 
<div class="welcome-text">
    <h1 class="title">@ViewBag.Name</h1>
    <img src="/Content/line.jpg" style="max-width:100%">
</div>
<style>
    #breadcrumb {
        background: #ffe2e4;
    }

        #breadcrumb li {
            display: inline-block;
            list-style: none;
            padding: 10px;
        }
</style>
<!-- .page-head -->
<div id="content-wrapper" class="site-content-wrapper site-pages">
    <div id="content" class="site-content layout-boxed">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 site-main-content">
                    <div>
                        @Html.Raw(@ViewBag.Content)
                    </div>
                    <main id="main" class="site-main">
                        <div id="gallery-container" class="gallery-container gallery-3-columns gallery-post-listing isotope row">
                            @foreach (var item in Model)
                            {

                                <div class="col-xs-6 custom-col-xs-12 col-sm-6 col-md-4">
                                    <article class="hentry property-listing-three-post image-transition">
                                        <div class="property-thumbnail">
                                            <a href="~/@item.url">
                                                <img class="img-responsive" src="~/Upload/images/products/@item.images" alt="@item.name">
                                            </a>
                                            <a href="/@item.product_category.url"><span class="property-status">@item.product_category.name</span></a>
                                        </div>
                                        <div class="property-description">
                                            <header class="entry-header">
                                                <h4 class="entry-title">
                                                    <a href="~/@item.url" rel="bookmark">@item.name</a>
                                                </h4>
                                                <div class="price-and-status">
                                                    <span class="price"> <i class="fas fa-dollar-sign"></i>@item.price</span>
                                                </div>
                                            </header>
                                            <div class="property-meta entry-meta clearfix">
                                                <div class="meta-wrapper"><span class="meta-value">Diện tích: </span><span class="meta-label">@item.content2</span></div> <div class="meta-wrapper" style="float:right"><span class="meta-value">Hướng nhà: </span><span class="meta-label"></span></div>
                                            </div>
                                        </div>  <img src="/Upload/new-tag.png" style="position:absolute;left: 12px;top: -3px;height: 90px;">
                                    </article>
                                </div>


                            }



                        </div>
                        <!-- .gallery-container -->
                    </main>
                    <!-- .site-main -->
                </div>
                <!-- .site-main-content -->
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </div>
    <!-- .site-content -->
</div>
<!-- .site-content-wrapper -->
