@model WebDEV.Areas.admincp.Models.news
@{

    Layout = "~/Views/Shared/_RealPlaceDetails.cshtml";
}
<!-- .site-header -->
<div class="page-head " style="background: url(../real-places/images/banner.jpg) #494c53 no-repeat center top;  background-size: cover;">
    <div class="container">
        <div class="page-head-content">
            <h2 class="page-title"><span>@Model.news_category.name</span></h2>
        </div>
    </div>
</div>
<!-- .site-header -->
<div id="breadcrumb">
    <div class="container">
        <ul>
            <li>
                <a href="/" title="Trang chủ">Trang chủ</a>
            </li>
            <li>
                <a href="~/@Model.news_category.url" title="@Model.news_category.name"> <i class="fas fa-angle-right"></i> @Model.news_category.name</a>
            </li>
            <li class="active"><a href="~/@Model.url" title="@Model.name"> <i class="fas fa-angle-right"></i> @Model.name</a> </li>
        </ul>
    </div>
</div>
<style>
    #breadcrumb {
        background: #ffe2e4;
    }

        #breadcrumb li {
            display: inline-block;
            list-style: none;
            padding: 10px;
        }

        #breadcrumb ul {
            margin-left: -50px;
        }

        #breadcrumb li a {
            color: #c62223;
            font-weight: bold;
            padding-top: 10px;
            display: block;
        }
</style>
<!-- .page-head -->
<div id="content-wrapper" class="site-content-wrapper site-pages">
    <div id="content" class="site-content layout-boxed">
        <div class="container">
            <div class="row">
                <div class="col-md-9 site-main-content">
                    <main id="main" class="site-main default-page blog-single-post clearfix">
                        <article class="blog-post clearfix hentry format-gallery">

                            
                            <div class="entry-content clearfix">
                                <div>
                                    <h1 class="title" style="    margin-bottom: 5px; font-size: 1.5em; color: #c62326;">@ViewBag.Name</h1>
                                    <img src="/Content/line.jpg" style="max-width:100%;margin-bottom:30px">
                                </div>
                                @Html.Raw(Model.content1)
                            </div>
                            @*<footer class="entry-footer">
                                    <span class="tag-links"><a href="#" rel="tag">interior</a><a href="#" rel="tag">living rooms</a></span>
                                </footer>*@
                        </article>

                    </main>
                    <!-- .site-main -->
                </div>
                <!-- .site-main-content -->
                <div class="col-md-3 site-sidebar-content">
                    <aside class="sidebar">

                        <section class="widget widget-featured-properties">
                            <h3 class="widget-title">Tin mới nhất</h3>
                            <ul class="widget-featured-properties">
                                @Html.Raw(ViewBag.ProductList)
                            </ul>
                        </section>

                        <section class="widget widget-featured-properties">
                            <h3 class="widget-title">Bài viết mới nhất</h3>
                            <ul class="widget-featured-properties">
                                @Html.Raw(ViewBag.NewsList)
                            </ul>
                        </section>
                    </aside>
                    <!-- .sidebar -->
                </div>
                <!-- .site-sidebar-content -->
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </div>
    <!-- .site-content -->
</div>
<!-- .site-content-wrapper -->